.usercard-container {
  padding: 20px;
  margin: 20px;
  border-radius: 14px;
  width: 300px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.usercard-header {
  display: flex;
  justify-content: flex-end;
}

.usercard-container img {
  width: 200px;
  height: auto;
}

.usercard-container p {
  text-align: justify;
}

.Day.usercard-container,
.Day.button {
  background-color: #adcbe3;
  color: #111111;
}

.Night.usercard-container,
.Night.button {
  background-color: #4b86b4;
  color: snow;
}

.usercard-secondary-info {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.button {
  border: 2px solid transparent;
  padding: 10px;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}
